In [ ]:
# Print Prime Numbers up to N integers

n = 50
for num in range(2, n):
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#  Factorial Using while

n = 6
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("Factorial:", fact)

Factorial: 720

In [ ]:
# Reverse a Number

num = 12345
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num //= 10
print("Reversed:", rev)

Reversed: 54321

In [ ]:
# Fibonacci Series

a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Sum of Digits of a Number

num = 98765
s = 0
while num:
    s += num % 10
    num //= 10
print("Sum of digits:", s)

Sum of digits: 35

In [ ]:
# LCM of Two Numbers

a, b = 12, 18
lcm = max(a, b)
while True:
    if lcm % a == 0 and lcm % b == 0:
        break
    lcm += 1
print("LCM:", lcm)

LCM: 36

In [ ]:
# Detect Palindrome Number

num = 12321
original = num
rev = 0
while num:
    rev = rev * 10 + num % 10
    num //= 10
print("Palindrome" if rev == original else "Not palindrome")

Palindrome

In [ ]:
# Leap Year Checker

year = 1996
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Leap year

In [ ]:
# Triangle Validity

a, b, c = 5, 6, 8
if a + b > c and a + c > b and b + c > a:
    print("Valid triangle")
else:
    print("Invalid triangle")

Valid triangle

In [ ]:
# Divisible by 3 and 5

n = 15
if n % 3 == 0 and n % 5 == 0:
    print("Divisible by both")
elif n % 3 == 0:
    print("Only 3")
elif n % 5 == 0:
    print("Only 5")
else:
    print("Neither")

Divisible by both

In [ ]:
#  Login System with Password

username = "admin"
password = "1234"
if username == "admin":
    if password == "1234":
        print("Login success")
    else:
        print("Incorrect password")
else:
    print("Invalid user")

Login success

In [ ]:
# Count Even/Odd in a List

lst = [1, 2, 3, 4, 5, 6]
even = odd = 0
for n in lst:
    if n % 2 == 0:
        even += 1
    else:
        odd += 1
print("Even:", even, "Odd:", odd)

Even: 3 Odd: 3